.background_500{background: #009688;}
.background_100{background: #B2DFDB;}
.background_200{background: #80CBC4;}
.background_300{background: #4DB6AC;}
.background_700{background: #00796B;}
.background_900{background: #004D40;}
.background_fff{background: white;}
.background_000{background: black;}
.background_A200{background: #69F0AE;}
.background_dark{background: #2c3e50;}
.background_grey_500{background: #9E9E9E;}
.background_orange_400{background: #FFA726;}
.background_green_500{background: #4CAF50;}
.background_green_300{background: #81C784;}
.background_indigo_400{background:#5C6BC0;}
.background_purple_400{background: #AB47BC;}

.color_500{color: #009688;}
.color_100{color: #B2DFDB;}
.color_200{color: #80CBC4;}
.color_300{color: #4DB6AC;}
.color_700{color: #00796B;}
.color_900{color: #004D40;}
.color_fff{color:wheat;}
.color_000{color:black;}
.color_A200{color:#69F0AE;}
.color_dark{color:#2c3e50;}
.color_orange_900{color:#E65100;}
.color_green_900{color:#1B5E20;}
.color_indigo_900{color:#1A237E;}
.color_purple_900{color:#4A148C;}